*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 20vw;
    height: 30vh;
    /* border: 1px solid black; */
    margin: auto;
    background-color:  #3F3F3F;
    }

.menu{
    position: absolute;
    width: 3vw;
    height: 30vh;
    /* border: 1px solid red; */
    pointer-events: none;
    cursor: pointer;
    /* text-align: center; */
    overflow: hidden;
    background-color: #935F0D;
    transition: 1s;
}

.arrow{
    width:15vw ;
    display: flex;
    justify-content: space-between;
    background-color: #dc8f14;
    padding: 0.3rem .4rem;
    margin-bottom: 1rem;
}
.left{
    /* position: absolute; */
    pointer-events: all;
}

p{
    color: white;
}

ul{
padding-left: 3rem;
}

ul li{
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: black;
}

ul li a:hover{
    color: orange;
}

.menu:hover{
    width: 15vw;
    pointer-events: all;
}

.menu:hover .left{
visibility: hidden;
}